    /*index.html*/
    *{
        scroll-behavior: smooth;
    }
    body {
        background-color: #F5EEDD;
    }
    #home {
        margin-top: 60px;
    }
    .header {

        width: 100%;
        position: fixed;
        top: 0;
        z-index: 100;
        height: 70px;
        padding: 20px;
        color: #7ae2cf;
        background-color: #06202B;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav a {
        color: #7ae2cf;
        font-weight: bold;
        padding: 20px;
        font-size: 15px;
    }
    ul {
        list-style-type: none;
    }
    h1:hover {
        color: #077a7d;
        transform: scale(1.05);
        transition: all 0.5s ease-in-out;
    }
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 100px;
        height: auto;
        text-align: center;
    }
    #info {
        background-color: #f5fff9;
        color: #06202B;
        padding: 20px;
        border-radius: 10px;
        margin: 20px auto;
        width: 100%;
    }
    #begin {
        width: 370px;
        border-radius: 20px;
    }
    button {
        background-color: #077a7d;
        border-radius: 25px;
        border: none;
        color:  white;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
        cursor: pointer;
    }
    button:hover {
        background-color: #06202B;
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;
    }
    img:hover {
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;
    }
    #info:hover {
        transform: scale(1.01);
        transition: all 0.3s ease-in-out;
    }
    #login-box{
        height: 70vh;
        width: 90%;
        max-width: 600px;
        margin: 100px auto;
        background-color: #f5fff9;
        padding: 40px;
        border-radius: 20px;
        text-align: center;
        transition: transform 0.5s ease-in-out;
    }
    h2 {
        text-align: center;
    }
    #login-box input {
        padding: 8px;
        width: 90%;
        border: 3px solid #077a7d;
        background-color:#f5fff9;
        border-radius: 15px;
        margin-bottom: 20px;
    }
    #login-box label {
        font-size: 13px;
    }
    #login-box button {
        display: block;
        background-color:#06202B;
        width: 100px;
        margin: auto;
        margin-bottom: 10px;
        font-size: 15px;
    }
    #login-box a{
        text-decoration: underline;
        cursor: pointer;
    }
    #login-box:hover{
        transform: scale(1.01);
    }
    /* #login-box input:invalid {
        border-color: red;
    } */
        /*signup css start*/
.signup-page
{
    background-color: #f5ecda;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
#signupbox {
 background-color: #F5FFF9;
 color: black;
    width: 500px; 
    height: 600px;
    margin: 0 auto; 
    padding: 30px;
    border: 1px solid #ccc; 
    border-radius: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="tel"] {
    padding: 10px;
    border: 3.5px solid #1c7268;
    border-radius: 15px;
    outline: none;
    background-color: #F5FFF9;
}
#signupbox h3 
{
    text-align: center;
}
#signupbox label
{
    font-weight: bold;
}
input::placeholder {
    color: black;
}
#signupbox input
{
    margin-bottom: 5px;
}
.row-fields {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.half-field {
    flex: 1;
    display: flex;
    flex-direction: column;
}
#signupbox input {
    margin-bottom: 5px;
    width: 100%; 
    box-sizing: border-box; 
}
#signupbox button[type="submit"] {
    display: block;
    margin: 20px auto;
    width: 220px; 
    padding: 10px;
}
#signupbox a
{
    color: #374D55; 
    font-style: italic;  
    text-decoration: none; 
    display: block;
    font-size: large;
    text-align: center;
    cursor: pointer; 
    transition: color 0.2s ease; 
}
#signupbox a:hover {

    text-decoration: underline; 
}
/*signup css End*/
    form {
        margin-top: 15%;
        text-align: left;
    }
    svg{
        color: #06202B;
        width: 100px;
        height: 100px;
        margin-right: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        background-color: #f5fff9;
        border-radius: 100%;
    }
    svg:hover {
        transform: scale(1.05);
        background-color: #06202B;
        color: #f5fff9;
        transition: all 0.5s ease-in-out;
    }
    .roller-container {
        margin-top: 40px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .roller {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 80%;
        height: 400px;
    }
    .roller-item {
        position: absolute;
        opacity: 0;
        transform: scale(0.7);
        transition: all 0.4s ease;
        max-width: 300px;
        border-radius: 10px;
        overflow: hidden;
      }
      .roller-item img {
        width: 100%;
        border-radius: 10px;
      }
      .roller-item.active {
        opacity: 1;
        transform: scale(1);
        z-index: 3;
      }
      
      .roller-item.left {
        opacity: 0.6;
        transform: translateX(-50%) scale(0.85);
        z-index: 2;
      }
      
      .roller-item.right {
        opacity: 0.6;
        transform: translateX(50%) scale(0.85);
        z-index: 2;
      }
      .left-arrow, .right-arrow {
        background: #077a7d;
        color: white;
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 24px;
        cursor: pointer;
        z-index: 10;
      }
    @media (max-width: 600px) {
        .header {
            height: 78px;
            padding: 10px;
            flex-direction: column;
        }
        nav a {
            font-size: 14px;
            padding: 10px;
        }
        h1 {
            font-size: 30px;
            /* margin-top: 80px; */
        }
        #info {
            font-size: 10px;
        }
        button {
            font-size: 12px;
        }
        section {
            padding: 50px;
        }
        #about {
           height: auto;
        }
    }